@font-face {
  font-family: 'zmfont';
  src:  url('zmfont.eot?ic6nx3');
  src:  url('zmfont.eot?ic6nx3#iefix') format('embedded-opentype'),
    url('zmfont.ttf?ic6nx3') format('truetype'),
    url('zmfont.woff?ic6nx3') format('woff'),
    url('zmfont.svg?ic6nx3#zmfont') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'zmfont' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zmf-add:before {
  content: "\f067";
}
.zmf-question:before {
  content: "\f128";
}
.zmf-search:before {
  content: "\f002";
}
.zmf-mail:before {
  content: "\f003";
}
.zmf-heart:before {
  content: "\f004";
}
.zmf-star1:before {
  content: "\f005";
}
.zmf-star0:before {
  content: "\f006";
}
.zmf-user:before {
  content: "\f007";
}
.zmf-list:before {
  content: "\f00a";
}
.zmf-check:before {
  content: "\f00c";
}
.zmf-delete:before {
  content: "\f00d";
}
.zmf-search-plus:before {
  content: "\f00e";
}
.zmf-search-minus:before {
  content: "\f010";
}
.zmf-settings:before {
  content: "\f013";
}
.zmf-trash0:before {
  content: "\f014";
}
.zmf-home:before {
  content: "\f015";
}
.zmf-clock:before {
  content: "\f017";
}
.zmf-download:before {
  content: "\f019";
}
.zmf-rotate-right:before {
  content: "\f01e";
}
.zmf-refresh:before {
  content: "\f021";
}
.zmf-panel:before {
  content: "\f022";
}
.zmf-lock:before {
  content: "\f023";
}
.zmf-qrcode:before {
  content: "\f029";
}
.zmf-barcode:before {
  content: "\f02a";
}
.zmf-tag:before {
  content: "\f02c";
}
.zmf-print:before {
  content: "\f02f";
}
.zmf-image:before {
  content: "\f030";
}
.zmf-video:before {
  content: "\f03d";
}
.zmf-edit:before {
  content: "\f040";
}
.zmf-map:before {
  content: "\f041";
}
.zmf-chev-right:before {
  content: "\f054";
}
.zmf-plus-circle:before {
  content: "\f055";
}
.zmf-minus-circle:before {
  content: "\f056";
}
.zmf-times-circle:before {
  content: "\f057";
}
.zmf-check-circle:before {
  content: "\f058";
}
.zmf-arrow-left:before {
  content: "\f060";
}
.zmf-arrow-right:before {
  content: "\f061";
}
.zmf-arrow-up:before {
  content: "\f062";
}
.zmf-arrow-down:before {
  content: "\f063";
}
.zmf-next:before {
  content: "\f064";
}
.zmf-gift:before {
  content: "\f06b";
}
.zmf-leaf:before {
  content: "\f06c";
}
.zmf-eye:before {
  content: "\f06e";
}
.zmf-eye-slash:before {
  content: "\f070";
}
.zmf-calendar:before {
  content: "\f073";
}
.zmf-chevron-up:before {
  content: "\f077";
}
.zmf-chevron-down:before {
  content: "\f078";
}
.zmf-shopping-cart:before {
  content: "\f07a";
}
.zmf-folder:before {
  content: "\f07c";
}
.zmf-statistic:before {
  content: "\f080";
}
.zmf-comment:before {
  content: "\f086";
}
.zmf-tack:before {
  content: "\f08d";
}
.zmf-trophy:before {
  content: "\f091";
}
.zmf-upload:before {
  content: "\f093";
}
.zmf-phone:before {
  content: "\f095";
}
.zmf-square0:before {
  content: "\f096";
}
.zmf-twitter:before {
  content: "\f099";
}
.zmf-facebook:before {
  content: "\f09a";
}
.zmf-credit-card:before {
  content: "\f09d";
}
.zmf-bell0:before {
  content: "\f0a2";
}
.zmf-globe:before {
  content: "\f0ac";
}
.zmf-wrench:before {
  content: "\f0ad";
}
.zmf-filter:before {
  content: "\f0b0";
}
.zmf-briefcase:before {
  content: "\f0b1";
}
.zmf-users:before {
  content: "\f0c0";
}
.zmf-link:before {
  content: "\f0c1";
}
.zmf-cloud:before {
  content: "\f0c2";
}
.zmf-attach:before {
  content: "\f0c6";
}
.zmf-save:before {
  content: "\f0c7";
}
.zmf-nav:before {
  content: "\f0c9";
}
.zmf-truck:before {
  content: "\f0d1";
}
.zmf-google-plus:before {
  content: "\f0d5";
}
.zmf-caret-down:before {
  content: "\f0d7";
}
.zmf-caret-up:before {
  content: "\f0d8";
}
.zmf-caret-left:before {
  content: "\f0d9";
}
.zmf-caret-right:before {
  content: "\f0da";
}
.zmf-rotate-left:before {
  content: "\f0e2";
}
.zmf-legal:before {
  content: "\f0e3";
}
.zmf-flash:before {
  content: "\f0e7";
}
.zmf-sitemap:before {
  content: "\f0e8";
}
.zmf-umbrella:before {
  content: "\f0e9";
}
.zmf-cloud-download:before {
  content: "\f0ed";
}
.zmf-cloud-upload:before {
  content: "\f0ee";
}
.zmf-coffee:before {
  content: "\f0f4";
}
.zmf-building0:before {
  content: "\f0f7";
}
.zmf-angle-left:before {
  content: "\f104";
}
.zmf-angle-right:before {
  content: "\f105";
}
.zmf-angle-up:before {
  content: "\f106";
}
.zmf-angle-down:before {
  content: "\f107";
}
.zmf-laptop:before {
  content: "\f109";
}
.zmf-circle0:before {
  content: "\f10c";
}
.zmf-quote-left:before {
  content: "\f10d";
}
.zmf-quote-right:before {
  content: "\f10e";
}
.zmf-circle1:before {
  content: "\f111";
}
.zmf-back:before {
  content: "\f112";
}
.zmf-gamepad:before {
  content: "\f11b";
}
.zmf-star-half-full:before {
  content: "\f123";
}
.zmf-unlock:before {
  content: "\f13e";
}
.zmf-bullseye:before {
  content: "\f140";
}
.zmf-rss:before {
  content: "\f143";
}
.zmf-minus-square:before {
  content: "\f147";
}
.zmf-youtube:before {
  content: "\f16a";
}
.zmf-dropbox:before {
  content: "\f16b";
}
.zmf-apple:before {
  content: "\f179";
}
.zmf-windows:before {
  content: "\f17a";
}
.zmf-android:before {
  content: "\f17b";
}
.zmf-linux:before {
  content: "\f17c";
}
.zmf-pagelines:before {
  content: "\f18c";
}
.zmf-plus-square:before {
  content: "\f196";
}
.zmf-gov:before {
  content: "\f19c";
}
.zmf-edu:before {
  content: "\f19d";
}
.zmf-cube:before {
  content: "\f1b2";
}
.zmf-tree:before {
  content: "\f1bb";
}
.zmf-database:before {
  content: "\f1c0";
}
.zmf-pdf:before {
  content: "\f1c1";
}
.zmf-word:before {
  content: "\f1c2";
}
.zmf-excel:before {
  content: "\f1c3";
}
.zmf-support:before {
  content: "\f1cd";
}
.zmf-send:before {
  content: "\f1d9";
}
.zmf-football:before {
  content: "\f1e3";
}
.zmf-news:before {
  content: "\f1ea";
}
.zmf-visa:before {
  content: "\f1f0";
}
.zmf-mastercard:before {
  content: "\f1f1";
}
.zmf-discover:before {
  content: "\f1f2";
}
.zmf-amex:before {
  content: "\f1f3";
}
.zmf-paypal:before {
  content: "\f1f4";
}
.zmf-trash:before {
  content: "\f1f8";
}
.zmf-birthday-cake:before {
  content: "\f1fd";
}
.zmf-toggle-off:before {
  content: "\f204";
}
.zmf-toggle-on:before {
  content: "\f205";
}
.zmf-cart-plus:before {
  content: "\f217";
}
.zmf-diamond:before {
  content: "\f219";
}
.zmf-whatsapp:before {
  content: "\f232";
}
.zmf-user-add:before {
  content: "\f234";
}
.zmf-user-del:before {
  content: "\f235";
}
.zmf-jcb:before {
  content: "\f24b";
}
.zmf-tripadvisor:before {
  content: "\f262";
}
.zmf-safari:before {
  content: "\f267";
}
.zmf-chrome:before {
  content: "\f268";
}
.zmf-firefox:before {
  content: "\f269";
}
.zmf-opera:before {
  content: "\f26a";
}
.zmf-internet-explorer:before {
  content: "\f26b";
}
.zmf-calendar-plus:before {
  content: "\f271";
}
.zmf-calendar-minus:before {
  content: "\f272";
}
.zmf-map-signs:before {
  content: "\f277";
}
.zmf-shopping-bag:before {
  content: "\f290";
}
.zmf-envira:before {
  content: "\f299";
}
.zmf-question0:before {
  content: "\f29c";
}
.zmf-themeisle:before {
  content: "\f2b2";
}
.zmf-handshake-o:before {
  content: "\f2b5";
}
.zmf-user-circle0:before {
  content: "\f2bd";
}
.zmf-user-circle1:before {
  content: "\f2be";
}
